### Return a dict of {col_name, col_values} from data.

In [1]:
from tinytim.columns import column_dict

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
column_dict(data, 'x')

{'x': [1, 2, 3]}

### Return a generator of tuple column name, column values.

In [2]:
from tinytim.columns import itercolumns

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
for name, values in itercolumns(data):
    print(name, values)

x (1, 2, 3)
y (6, 7, 8)

In [3]:
from tinytim.columns import value_counts

values = [4, 1, 1, 4, 5, 1]
value_counts(values)

DictAnyKey([(1, 3), (4, 2), (5, 1)])

### Add a number to each value in a sequence.

In [4]:
from tinytim.columns import add_to_column

column = (1, 2, 3, 4)
add_to_column(column, 1)

[2, 3, 4, 5]

### Add a sequence of numbers to a sequence.

In [5]:
column = (1, 2, 3, 4)
add_to_column(column, (4, 5, 6, 7))

[5, 7, 9, 11]

### Concatenate a sequence of strings to each value in a sequence of strings.

In [6]:
column = ('a', 'b', 'c', 'd')
add_to_column(column, 'A')

['aA', 'bA', 'cA', 'dA']

### Concatenate a string to each value in a sequence of strings.

In [7]:
column = ('a', 'b', 'c', 'd')
add_to_column(column, ('A', 'B', 'C', 'D'))

['aA', 'bB', 'cC', 'dD']

### Subtract a number from each value in a sequence of numbers.

In [8]:
from tinytim.columns import subtract_from_column

column = (1, 2, 3, 4)
subtract_from_column(column, 1)

[0, 1, 2, 3]

In [9]:
column = (1, 2, 3, 4)
subtract_from_column(column, (4, 5, 6, 7))

[-3, -3, -3, -3]

### Multiply a number with each value in a sequence of numbers.

In [10]:
from tinytim.columns import multiply_column

column = (1, 2, 3, 4)
multiply_column(column, 2)

[2, 4, 6, 8]

### Mutiply a sequence of numbers with a sequence of numbers.

In [11]:
column = (1, 2, 3, 4)
multiply_column(column, (4, 5, 6, 7))

[4, 10, 18, 28]

### Multiply a sequence of strings with a sequence of int.

In [12]:
column = ['a', 'b', 'c', 'd']
multiply_column(column, 3)

['aaa', 'bbb', 'ccc', 'ddd']

### Multiply a sequence of int with a sequence of strings.

In [13]:
column = [1, 2, 3, 4]
multiply_column(column, ('z', 'q', 'y', 'q'))

['z', 'qq', 'yyy', 'qqqq']

### Divide a number from each value in a sequence of numbers.

In [14]:
from tinytim.columns import divide_column

column = (1, 2, 3, 4)
divide_column(column, 2)

[0.5, 1.0, 1.5, 2.0]

### Divide a sequence of numbers from a sequence of numbers.

In [15]:
column = (1, 2, 3, 4)
divide_column(column, (4, 5, 6, 7))

[0.25, 0.4, 0.5, 0.5714285714285714]

### Modulo a number from each value in a sequence of numbers.

In [16]:
from tinytim.columns import mod_column

column = (1, 2, 3, 4)
mod_column(column, 2)

[1, 0, 1, 0]

### Modulo a sequence of numbers from a sequence of numbers.

In [17]:
column = (4, 67, 87, 65)
mod_column(column, (2, 3, 4, 5))

[0, 1, 3, 0]

### Exponent a number with each value in a sequence of numbers.

In [18]:
from tinytim.columns import exponent_column

column = (1, 2, 3, 4)
exponent_column(column, 2)

[1, 4, 9, 16]

### Exponent a sequence of numbers with a sequence of numbers.

In [19]:
column = (2, 3, 4, 5)
exponent_column(column, (2, 3, 4, 5))

[4, 27, 256, 3125]

### Floor divide a number from each value in a sequence of numbers.

In [20]:
from tinytim.columns import floor_column

column = (1, 2, 3, 4)
floor_column(column, 2)

[0, 1, 1, 2]

### Floor divide a sequence of numbers from a sequence of numbers.

In [21]:
column = (56, 77, 88, 55)
floor_column(column, (5, 6, 7, 8))

[11, 12, 12, 6]