### data is in {column name: column values} format - Mapping[str, Sequence]

In [1]:
data = {'x': [1, 2, 3],
        'y': [6, 7, 8]}

### Return the number of columns in data.

In [2]:
from tinytim.data import column_count

column_count(data)

2

### Return the name of the first column.

In [3]:
from tinytim.data import first_column_name

first_column_name(data)

'x'

### Return the number of rows in data.

In [4]:
from tinytim.data import row_count

row_count(data)

3

### Return data row count, column count tuple.

In [5]:
from tinytim.data import shape

shape(data)

(3, 2)

### Return data row count multiplied by column count.

In [6]:
from tinytim.data import size

size(data)

6

### Return data column names.

In [7]:
from tinytim.data import column_names

column_names(data)

('x', 'y')

### Return the first n rows of data.

In [8]:
from tinytim.data import head

head(data, 2)

{'x': [1, 2], 'y': [6, 7]}

### Return the last n rows of data.

In [9]:
from tinytim.data import tail

tail(data, 2)

{'x': [2, 3], 'y': [7, 8]}

### Return tuple of data column indexes.

In [10]:
from tinytim.data import index

index(data)

(0, 1, 2)

### Return one value from column at row index.

In [11]:
from tinytim.data import table_value

table_value(data, 'x', 1)

2

### Return all the values from one column.

In [12]:
from tinytim.data import column_values

column_values(data, 'y')

(6, 7, 8)