In [1]:
from tinytim.na import dropna
data = {"name": ['Alfred', 'Batman', 'Catwoman'],
        "toy": [None, 'Batmobile', 'Bullwhip'],
        "born": [None, "1940-04-25", None]}

data

{'name': ['Alfred', 'Batman', 'Catwoman'],
 'toy': [None, 'Batmobile', 'Bullwhip'],
 'born': [None, '1940-04-25', None]}

### Drop the rows where at least one element is missing.

In [2]:
dropna(data)

{'name': ['Batman'], 'toy': ['Batmobile'], 'born': ['1940-04-25']}

### Drop the columns where at least one element is missing.

In [3]:
dropna(data, axis='columns')

{'name': ['Alfred', 'Batman', 'Catwoman']}

### Drop the rows where all elements are missing.

In [4]:
dropna(data, how='all')

{'name': ['Alfred', 'Batman', 'Catwoman'],
 'toy': [None, 'Batmobile', 'Bullwhip'],
 'born': [None, '1940-04-25', None]}

### Keep only the rows with at least 2 non-NA values.

In [5]:
dropna(data, thresh=2)

{'name': ['Batman', 'Catwoman'],
 'toy': ['Batmobile', 'Bullwhip'],
 'born': ['1940-04-25', None]}

### Define in which columns to look for missing values.

In [6]:
dropna(data, subset=['name', 'toy'])

{'name': ['Batman', 'Catwoman'],
 'toy': ['Batmobile', 'Bullwhip'],
 'born': ['1940-04-25', None]}

### Keep the data with valid entries in the same variable.

In [7]:
dropna(data, inplace=True)
data

{'name': ['Batman'], 'toy': ['Batmobile'], 'born': ['1940-04-25']}