### data is in {column name: column values} format - Dict[str, List]

In [1]:
data = {'x': [1, 2, 3],
        'y': [6, 7, 8]}

### Return data with row values at index changed to mapping items values.

In [2]:
from tinytim.edit import edit_row_items

edit_row_items(data, 0, {'x': 11, 'y': 66})

{'x': [11, 2, 3], 'y': [66, 7, 8]}

### Return data with row values at index changed to sequence of values.

In [3]:
from tinytim.edit import edit_row_values

edit_row_values(data, 1, (22, 77))

{'x': [1, 22, 3], 'y': [6, 77, 8]}

### Return data with values changed in named column.

In [4]:
from tinytim.edit import edit_column

edit_column(data, 'x', [11, 22, 33])

{'x': [11, 22, 33], 'y': [6, 7, 8]}

### Return data with new named column with new values.

In [5]:
edit_column(data, 'z', [66, 77, 88])

{'x': [1, 2, 3], 'y': [6, 7, 8], 'z': [66, 77, 88]}

### Return data with func operator used on values from named column.

In [6]:
from tinytim.edit import operator_column

func = lambda x, y : x + y
operator_column(data, 'x', 1, func)

{'x': [2, 3, 4], 'y': [6, 7, 8]}

### Return data with a single value added to named column values.

In [7]:
from tinytim.edit import add_to_column

add_to_column(data, 'x', 1)

{'x': [2, 3, 4], 'y': [6, 7, 8]}

### Return data with sequence of values added to named column values.

In [8]:
add_to_column(data, 'x', [11, 22, 33])

{'x': [12, 24, 36], 'y': [6, 7, 8]}

### Return data with a single value subtracted from named column values.

In [9]:
from tinytim.edit import subtract_from_column

subtract_from_column(data, 'x', 1)

{'x': [0, 1, 2], 'y': [6, 7, 8]}

### Return data with sequence of values subtracted from named column values.

In [10]:
subtract_from_column(data, 'x', [11, 22, 33])

{'x': [-10, -20, -30], 'y': [6, 7, 8]}

### Return data with a single value multiplied with named column values.

In [11]:
from tinytim.edit import multiply_column

multiply_column(data, 'x', 2)

{'x': [2, 4, 6], 'y': [6, 7, 8]}

### Return data with sequence of values mutiplied with named column values.

In [12]:
multiply_column(data, 'x', [11, 22, 33])

{'x': [11, 44, 99], 'y': [6, 7, 8]}

### Return data with named column divided by a single value.

In [13]:
from tinytim.edit import divide_column

divide_column(data, 'x', 2)

{'x': [0.5, 1.0, 1.5], 'y': [6, 7, 8]}

### Return data with named column divided by a sequence of values.

In [14]:
divide_column(data, 'x', [2, 3, 4])

{'x': [0.5, 0.6666666666666666, 0.75], 'y': [6, 7, 8]}

### Return data with row at index removed from data.

In [15]:
from tinytim.edit import drop_row

drop_row(data, 1)

{'x': [1, 3], 'y': [6, 8]}

### Return data with named column dropped.

In [16]:
from tinytim.edit import drop_column

drop_column(data, 'y')

{'x': [1, 2, 3]}

### Return data with value in named column and row index edited with value.

In [17]:
from tinytim.edit import edit_value

edit_value(data, 'x', 0, 11)

{'x': [11, 2, 3], 'y': [6, 7, 8]}

### Return data with same column data but with new column names.

In [18]:
from tinytim.edit import replace_column_names

replace_column_names(data, ('xx', 'yy'))

{'xx': [1, 2, 3], 'yy': [6, 7, 8]}