### Inner Join two data dict on a specified column name(s).

In [1]:
from tinytim.join import inner_join

left =  {'id': ['a', 'c', 'd', 'f', 'g'], 'x': [33, 44, 55, 66, 77]}
right = {'id': ['a', 'b', 'c', 'd'], 'y': [11, 22, 33, 44]}
inner_join(left, right, 'id')

{'id': ['a', 'c', 'd'], 'x': [33, 44, 55], 'y': [11, 33, 44]}

### Full Join two data dict on a specified column name(s).

In [2]:
from tinytim.join import full_join

left = {'id': ['a', 'c', 'd', 'f', 'g'], 'x': [33, 44, 55, 66, 77]}
right = {'id': ['a', 'b', 'c', 'd'], 'y': [11, 22, 33, 44]}
full_join(left, right, 'id')

{'id': ['a', 'c', 'd', 'f', 'g', 'b'],
 'x': [33, 44, 55, 66, 77, None],
 'y': [11, 33, 44, None, None, 22]}

### Left Join two data dict on a specified column name(s).

In [3]:
from tinytim.join import left_join

left = {'id': ['a', 'c', 'd', 'f'], 'x': [33, 44, 55, 66]}
right = {'id': ['a', 'b', 'c', 'd'], 'y': [11, 22, 33, 44]}
left_join(left, right, 'id')

{'id': ['a', 'c', 'd', 'f'], 'x': [33, 44, 55, 66], 'y': [11, 33, 44, None]}

### Right Join two data dict on a specified column name(s).

In [4]:
from tinytim.join import right_join

left = {'id': ['a', 'c', 'd', 'f'], 'x': [33, 44, 55, 66]}
right = {'id': ['a', 'b', 'c', 'd'], 'y': [11, 22, 33, 44]}
right_join(left, right, 'id')

{'id': ['a', 'b', 'c', 'd'], 'x': [33, None, 44, 55], 'y': [11, 22, 33, 44]}