### Convert data table to list of row dicts.

In [2]:
from tinytim.json import data_to_json_list

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
data_to_json_list(data)

[{'x': 1, 'y': 6}, {'x': 2, 'y': 7}, {'x': 3, 'y': 8}]

### Convert list of row dicts to data table format.

In [3]:
from tinytim.json import json_list_to_data

json = [{'x': 1, 'y': 6}, {'x': 2, 'y': 7}, {'x': 3, 'y': 8}]
json_list_to_data(json)

{'x': [1, 2, 3], 'y': [6, 7, 8]}

### Convert data table to list of row dicts json string.

In [4]:
from tinytim.json import data_to_json

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
data_to_json(data)

'[{"x": 1, "y": 6}, {"x": 2, "y": 7}, {"x": 3, "y": 8}]'

### Convert row dicts json string to data dict table.

In [5]:
from tinytim.json import json_to_data

j = '[{"x": 1, "y": 6}, {"x": 2, "y": 7}, {"x": 3, "y": 8}]'
json_to_data(j)

{'x': [1, 2, 3], 'y': [6, 7, 8]}