### Return one row from data at index.

In [1]:
from tinytim.rows import row_dict

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
row_dict(data, 1)

{'x': 2, 'y': 7}

### Return a tuple of the values at row index.

In [2]:
from tinytim.rows import row_values

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
row_values(data, 0)

(1, 6)

### Return a generator of tuple row index, row dict values.

In [3]:
from tinytim.rows import iterrows

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
for index, row in iterrows(data):
    print(index, row)

0 {'x': 1, 'y': 6}
1 {'x': 2, 'y': 7}
2 {'x': 3, 'y': 8}

### Return a generator of tuple row values. (same as itervalues)

In [4]:
from tinytim.rows import itertuples

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
for row in itertuples(data):
    print(row)

(1, 6)
(2, 7)
(3, 8)

### Return a generator of tuple row values. (same as itertuples)

In [5]:
from tinytim.rows import itervalues

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
for row in itervalues(data):
    print(row)

(1, 6)
(2, 7)
(3, 8)

### Return tuple of tuple row values.

In [6]:
from tinytim.rows import values

data = {'x': [1, 2, 3], 'y': [6, 7, 8]}
values(data)

((1, 6), (2, 7), (3, 8))

### Count up the unique rows.

In [7]:
from tinytim.rows import row_value_counts

data = {'x': [1, 2, 3, 3], 'y': [6, 7, 3, 3]}
row_value_counts(data)

{(3, 3): 2, (1, 6): 1, (2, 7): 1}

### Return a generator of row dicts.

In [8]:
from tinytim.rows import records

data = {'x': [1, 2, 3, 4], 'y': [55, 66, 77, 88]}
for row in records(data):
    print(row)

{'x': 1, 'y': 55}
{'x': 2, 'y': 66}
{'x': 3, 'y': 77}
{'x': 4, 'y': 88}

### Compare d1 and d2 records (rows) to see if they are equal. Order of records or columns does not matter.

In [9]:
from tinytim.rows import records_equal

d1 = {'x': [1, 2, 3, 4], 'y': [55, 66, 77, 88]}
d2 = {'x': [2, 1, 4, 3], 'y': [66, 55, 88, 77]}
records_equal(d1, d2)

True

In [10]:
d1 = {'x': [1, 2, 3, 4], 'y': [55, 66, 77, 88]}
d2 = {'x': [2, 1, 4, 3], 'y': [55, 77, 88, 66]}
records_equal(d1, d2)

False

### Convert a list of row dicts to dict[col_name: values] format.

In [11]:
from tinytim.rows import row_dicts_to_data

rows = [{'x': 1, 'y': 20}, {'x': 2, 'y': 21}, {'x': 3, 'y': 22}]
row_dicts_to_data(rows)

{'x': [1, 2, 3], 'y': [20, 21, 22]}

#### Deals with missing row values by inserting None to column.

In [12]:
rows = [{'x': 1, 'y': 20}, {'x': 2}, {'x': 3, 'y': 22}]
row_dicts_to_data(rows)

{'x': [1, 2, 3], 'y': [20, None, 22]}

### Convert sequence of row values: [col1_value, col2_value, col3_value] and column names: [col1_name, col2_name, col3_name] to data dict: {column_name: column_values}

In [13]:
from tinytim.rows import row_values_to_data

rows = [[1, 20], [2, 21], [3, 22]]
columns = ['x', 'y']
row_values_to_data(rows, columns)

{'x': [1, 2, 3], 'y': [20, 21, 22]}

#### Deals with missing row values by inserting None to column.

In [14]:
rows = [[1, 20], [2], [3, 22]]
columns = ['x', 'y']
row_values_to_data(rows, columns)

{'x': [1, 2, 3], 'y': [20, None, 22]}